<!--The content below is only a placeholder and can be replaced.-->
<br>
<br>
<br>
<div style="text-align:center">
  <h1>
    <strong>
    Welcome to {{title}}!
    </strong>
  </h1>
</div>
<form>
  <div class="container">
    <div class="tab">
      <b><strong> Address:</strong></b>{{transferFrom}} <span class="tab-right">
      <b><strong>Balance:</strong></b>{{balance}}</span>
    </div>

    <hr>
    <br>
    <br>
    <label for="transfer"><b>Tranfer To</b></label>
    <input type="text" class="inputfield" placeholder="Tranfer To"  [(ngModel)]="transferTo" name="transferTo" required>

    <label for="amount"><b>Amount in Ether</b></label>
    <input type="text"  class="inputfield" placeholder="Enter Amount"  [(ngModel)]="amount" name="amount" required>

    <hr>
    <button type="reset" class="trfbtn resetbtn">Reset</button>&nbsp;&nbsp;
    <button type="submit" class="trfbtn" (click)="transferEther($event)">Transfer Ether</button>&nbsp;&nbsp;
  </div>

</form>

<br>
<br>


<a *ngIf="balance==='0 ETH'; else templateName">
<div class="options text-center" style="color:black" >
  <a href="https://metamask.io/" target="_blank"><strong>Don't have an address wallet ?</strong></a></div></a>

<ng-template #templateName style="color:red; margin-left: 500px">
  <strong style="color:#4CAF50; margin-left: 500px">Thanks For Your Donation With Us</strong>
</ng-template>



<br>
<br>
<br>
