<br>
<br>
<br>
<section>

  <!--Section heading-->
  <h1 class="py-5 font-weight-bold text-center">How to make a donation with us</h1>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead black-text text-center">There are several basic steps</p>
</section>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <img src="assets/images/111.png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 1</h5>
      <a  target="_blank" style="color:grey">Sign up a metamask account to contain your wallets <a href="https://metamask.io/">here</a> </a>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <img src="assets/images/112.png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 2</h5>
      <p class="grey-text text-left">Add metamask to your browser</p>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <img src="assets/images/113.png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 3</h5>
      <p class="grey-text text-left">Create account wallet with metamask</p>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <img src="assets/images/114.png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 4 </h5>
      <p class="grey-text text-left">Buy ETH from Coinbase and transfer to your metamask account</p>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <img src="assets/images/115.png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 5 </h5>
      <p class="grey-text text-left">Donate your ETH to charity account with our transfer system</p>

    </div>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <img src="assets/images/116.png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">WELL DONE! </h5>
      <p class="grey-text text-left">Check your transaction status on <a href="https://ropsten.etherscan.io//">Etherscan</a>  </p>

    </div>
  </div>
</div>

<!--Section: Features v.3-->


<br/>
<br/>
<!--Section: Team v.1-->
<section class="team-section pb-5">


  <!--Section description-->
  <h3 class="black-text pb-15 text-center ">Need to contact our team </h3>
  <p align="center">
    <button type="button" class="btn btn-elegant waves-light" mdbWavesEffect routerLink="contact">Contact Us</button>
  </p>

  <!--Section heading-->

  <h2 class="h2 text-center py-5">Our amazing team</h2>
  <!-- Grid row -->
  <div class="row text-center">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-3">
          <img src="assets/images/Duy1.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Duy</strong>
        </h5>
        <p class="grey-text">Member1</p>


      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-3">
          <img src="assets/images/Vy.jpeg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Vy</strong>
        </h5>
        <p class="grey-text">Member2</p>


      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-3">
          <img src="assets/images/Dung.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Dung</strong>
        </h5>
        <p class="grey-text">Member3</p>

      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-3">
          <img src="assets/images/Lan.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Lan</strong>
        </h5>

        <p class="grey-text">Member 4</p>


      </div>
    </div>

  </div>
  <!-- Grid row -->

</section>

<footer class="sticky-footer">
  <div class="container">
    <div class="text-center">
      <small>Copyright © Reliance Website 2018</small>
    </div>
  </div>
</footer>
