<br>
<br>
<br>
<section>

  <!--Section heading-->
  <h1 class="py-5 font-weight-bold text-center">How we can create Charity Project</h1>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">there is several basic steps</p>
</section>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <img src="assets/images/Screenshot(313).png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 1</h5>
      <p class="grey-text text-left">First we need to sign up!</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <img src="assets/images/Screenshot(314).png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 2</h5>
      <p class="grey-text text-left">now we can login into our web</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <img src="assets/images/Screenshot(315).png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 3</h5>
      <p class="grey-text text-left">now we click in the charity list in the navigation bar.</p>
      <p class="grey-text text-left">the charity list page will appear then we click into new post</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <img src="assets/images/Screenshot(316).png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Step 4 </h5>
      <p class="grey-text text-left">after we click into new post, the create charity project panel will appear.</p>
      <p class="grey-text text-left">make sure we fill all of the blank if you do not have ether wallet please create <a href="https://etherscan.io/login">Here</a> </p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <img src="assets/images/Screenshot(318).png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">final step </h5>
      <p class="grey-text text-left">after we type in all information  into new post, and click button submit the saved notification will appear.</p>
      <p class="grey-text text-left">make sure u enter more than the length requirement </p>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      <img src="assets/images/Screenshot(319).png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail">
    </div>
    <div class="col-2 col-md-1">
      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
    </div>
    <div class="col">
      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">WELL DONE! </h5>
      <p class="grey-text text-left">the charity project now appear in the charity list </p>

    </div>
  </div>
</div>

<!--Section: Features v.3-->



<!--Section: Team v.1-->
<section class="team-section pb-5">

  <!--Section heading-->
  <h1 class="h1 text-center py-5">Our amazing team</h1>
  <!--Section description-->
  <h3 class="grey-text pb-15 text-center ">Contact us  </h3>
  <p class="grey-text pb-15 text-center">by email: teamreliance@gmail.com </p>
  <p class="grey-text pb-5 text-center">by phone: 0412979290 </p>
  <!-- Grid row -->
  <div class="row text-center">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-3">
          <img src="assets/images/Duy1.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Duy</strong>
        </h5>
        <p class="grey-text">Member1</p>


      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-3">
          <img src="assets/images/Vy.jpeg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Vy</strong>
        </h5>
        <p class="grey-text">Member2</p>


      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-3">
          <img src="assets/images/Dung.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Dung</strong>
        </h5>
        <p class="grey-text">Member3</p>

      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-3">
          <img src="assets/images/Lan.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Lan</strong>
        </h5>

        <p class="grey-text">Member 4</p>


      </div>
    </div>

  </div>
  <!-- Grid row -->

</section>

