<div class="container mt-5">
  <br>
  <br>

  <h2><strong>CONTACT US</strong></h2>
  <br>
  <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
    <div class="form-group">
      <label>UserName</label>
      <input type="text" class="form-control" name="name" ngModel>
    </div>
    <div class="form-group">
      <label>Subject</label>
      <input type="text" class="form-control" name="text" ngModel>
    </div>
    <div class="form-group">
      <label>UserEmail</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control" cols="30" rows="5" name="message" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
