<!-- Custom Success/Erro Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>




<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Management Users</h3>
  <div class="card-body">
    <div  class="table-editable">
      <table class="table table-bordered  table-striped text-center">
        <tr>

          <th class="text-center">Name</th>
          <th class="text-center">Username</th>
          <th class="text-center">Email</th>
          <th class="text-center">Permission</th>
        </tr>
        <tr *ngFor="let user of userPosts">

          <td class="text-center">{{ user.name }}</td>
          <td class="text-center">{{ user.username }}</td>
          <td class="text-center">{{ user.email }}</td>
          <td class="text-center">{{ user.permission }}
            <!-- Edit Button -->
            <a [routerLink]="['/edit-permission/']">
              <button type="button" class="btn btn-elegant waves-light"  mdbWavesEffect routerLink="edit-permission">Edit</button> </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->


