<br>
<br>
<br>
<br>
<p class="h2 text-center mb-4" style="background-color:pink; margin-left: 250px; margin-right: 250px">Your Profile</p>
<div *ngIf="user">
  <h4 class="page-header" style="margin-left: 50px">Your Ether Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.name}}</h4>
  <ul class="list-group">
    <li class="list-group-item">Username : {{user.username}}</li>
    <li class="list-group-item">Email : {{user.email}}</li>
   <li class="list-group-item">Permission : {{user.permission}}</li>
  </ul>
</div>


