<!--The content below is only a placeholder and can be replaced.-->

<header>
  <!-- Main -->
  <div class="view">
    <div class="full-bg-img">
      <div class="mask rgba-black-light flex-center">
        <div class="container text-center white-text ">
          <div class="white-text text-center wow fadeInUp">
            <h1>WE MAKE CHARITY</h1>
            <h2>CLEAR AND SIMPLE</h2>
            <h4>Now you can donate cryptocurrency </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>

<!--Main Layout-->





<main class="text-center py-5 ">

  <div class="container ">
    <div class="row">
      <div class="col-sm-8 ">

        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="true" [animation]="'slide'">
          <!--First slide-->
          <mdb-carousel-item>
            <img class="d-block w-100" src="assets/images/1.jpg" alt="First slide">
            <div class="carousel-caption" style="color:black">
              <p><strong>We are helping</strong></p>
            </div>
          </mdb-carousel-item>
          <!--/First slide-->
          <!--Second slide-->
          <mdb-carousel-item>
            <img class="d-block w-100" src="assets/images/2.jpg" alt="Second slide">
            <div class="carousel-caption" style="color:black">
              <p><strong>Save the children</strong></p>
            </div>
          </mdb-carousel-item>
          <!--/Second slide-->
          <!--Third slide-->
          <mdb-carousel-item>
            <img class="d-block w-100" src="assets/images/3.jpeg" alt="Third slide">
            <div class="carousel-caption" style="color:black">
              <p><strong>Save the world</strong></p>
            </div>
          </mdb-carousel-item>
          <!--/Third slide-->
          <mdb-carousel-item>
            <img class="d-block w-100" src="assets/images/22.jpeg" alt="Third slide">
            <div class="carousel-caption" style="color:black">
              <p><strong>With CryptoCurrency</strong></p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
        <!--/.Carousel Wrapper-->



      </div>

      <div class="col-sm-4">
        <div class="row pt-5">
        <p align="center">We make a Highest Secured Transfer System for your Cryptocurrency
          <button type="button" class="btn btn-elegant waves-light" mdbWavesEffect routerLink="donation">Donate Now</button>
        </p>
        </div>
        <div class="row pt-3">
        <p align="center"> The Children's Charity for children in need
          <button type="button" class="btn btn-elegant waves-light" mdbWavesEffect routerLink="charity">Our Charity List</button>
        </p>
      </div>
        <div class="row pt-3">
          <p align="center"> If this is your first time with us?
            <button type="button" class="btn btn-elegant waves-light" mdbWavesEffect routerLink="userguide">Go User Guide</button>
          </p>
        </div>
      </div>

    </div>
  </div>

</main>
<!--Main Layout-->

<!--Section: Features v.3-->
<section>

  <!--Section heading-->
  <h2 class="py-5 font-weight-bold text-center">Why is it so great?</h2>
  <!--Section description-->
  <h4 class="px-5 mb-5 pb-3 lead grey-text text-center">Here are the 3 good reasons why it is important</h4>

  <!--Grid row-->
  <div class="row pt-2">

    <!--Grid column-->
    <div class=" col-lg-4">
      <img src="assets/images/6.png" alt="" class="img-fluid z-depth-2 rounded img-thumbnail" style="margin-left:30px">
      <br>
      <br>
      <br>
      <br>
      <img src="assets/images/4.jpg" alt="" class="img-fluid z-depth-2 rounded img-thumbnail" style="margin-left:30px">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-3 col-md-1">
          <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Help people</h5>
          <p class="grey-text text-left">There are millions of people in the world who are worse of than we are at any one time. Many of these folk have problems that are not their fault or are beyond their ability to prevent or change. Humans are a social animal and the best way for mankind to advance is by helping those who are unable to help themselves. We have a responsibility to care for other people, to help those less fortunate than ourselves. When we have some spare cash, time or goods, it is an opportunity to help out.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-3 col-md-1">
          <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Make a difference</h5>
          <p class="grey-text text-left">Donating to charity is the perfect opportunity to make a difference in the world. By making a difference to someone’s life, you are leaving behind a legacy. You are making a statement that your life was worthwhile because you made a contribution to society.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-3 col-md-1">
          <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Feel good</h5>
          <p class="grey-text text-left">Medical and scientific research has proven beyond doubt that giving to other people makes you feel good. The feeling of satisfaction you get when you help someone else is hard to replicate with any other type of activity or endeavor. People who give feel happier, are less anxious and suffer less depression than those who don’t. Better health is enjoyed by those who donate their time, expertise or money to others who are in need. Charitable people tend to be able to cope with their own problems more easily than those who don’t donate. Giving to others improves your self-esteem, self confidence and self worth. This advantage flows into all areas of your life so you will find that you are more confident at work and in social situations.
            By WORKING FOR HUMANITY
          </p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->



<!--Section: Team v.1-->
<section class="team-section pb-5">

  <!--Section heading-->
  <h3 class="h3 text-center py-5">Our amazing team</h3>
  <!--Section description-->

  <div class="row text-center">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-1">
          <img src="assets/images/Duy1.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Duy</strong>
        </h5>
        <p class="grey-text">Member1</p>


      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-1">
          <img src="assets/images/Vy.jpeg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Vy</strong>
        </h5>
        <p class="grey-text">Member2</p>


      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-1">
          <img src="assets/images/Dung.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Dung</strong>
        </h5>
        <p class="grey-text">Member3</p>

      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
      <div class="card card-body">
        <div class="avatar mx-auto my-1">
          <img src="assets/images/Lan.jpg" class="rounded-circle img-fluid img-thumbnail" alt="First sample avatar image">
        </div>
        <h5 class="font-weight-bold">
          <strong>Lan</strong>
        </h5>

        <p class="grey-text">Member4</p>


      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!--Section: Team v.1-->

<footer class="sticky-footer">
  <div class="container">
    <div class="text-center">
      <small>Copyright © Reliance Website 2018</small>
    </div>
  </div>
</footer>


