.view {
  background: url("../../assets/images/home.jpg") no-repeat center center;
  background-size: cover;
  height: 70vh;
}

h1{
  font-size: 75px;
}
h2{
  font-size: 50px;
}
.full
{
  background: url("../../assets/images/aaaa.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 8px;
}

body
{
  background-color: whitesmoke;
}

